<a href="https://colab.research.google.com/github/MFaiqKhan/classical_MachineLearning/blob/main/OneHotEncoding_LinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Dummy Vars and One Hot Encoding

 Linear Regression Table

 To handle Text Data, we can convert the text data into Numerical Integers through label encoding
 e.g: A =1, B=2, C=3, our model can deduce that , C is greater than B And A, Or A+b=c Etc like these assumptions which doesnt make sense
 There are Two Types of categorical Variables: 
- nominal
- ordinal 

Categorical variables are variables that can take on a limited number of values, which are usually divided into discrete categories or groups. There are two main types of categorical variables:

Nominal Variables: Nominal variables are categorical variables that do not have a natural order or ranking. They are simply used to categorize data into groups. Examples of nominal variables include gender (male/female), hair color (blonde/brunette/redhead), and eye color (blue/green/brown).

Ordinal Variables: Ordinal variables are categorical variables that have a natural order or ranking. They can be used to categorize data into groups and also rank them in order of importance or preference. Examples of ordinal variables include education level (high school diploma/bachelor's degree/master's degree), income level (low/middle/high), and satisfaction level (low/medium/high).

Other types of categorical variables include dichotomous variables, which are nominal variables that have only two possible values (e.g., yes/no or true/false), and multinomial variables, which are nominal variables with more than two categories (e.g., favorite color: red/blue/green/yellow).

Understanding the types of categorical variables is important in statistical analysis, as it affects the type of analysis that can be performed on the data. For example, nominal variables require different statistical tests than ordinal variables, and each type of variable has its own set of measures of central tendency and dispersion.

Our Group data contains town name, which is actually nominal variables so normal integer coding won't work, so we will use special encoding named "One Hot Encoding".

create a new column for each of your categories and assign binary(0/1) to them.

In [25]:
import pandas as pd
df = pd.read_csv("homeprices.csv")
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [26]:
#creating dummy variables for the data frame

dummies = pd.get_dummies(df.town)
dummies

    monroe township  robinsville  west windsor
0                 1            0             0
1                 1            0             0
2                 1            0             0
3                 1            0             0
4                 1            0             0
5                 0            0             1
6                 0            0             1
7                 0            0             1
8                 0            0             1
9                 0            1             0
10                0            1             0
11                0            1             0
12                0            1             0

In [27]:
#merging the dummy variable (binary 0 and 1) and previous data frame .

merged = pd.concat([df, dummies],axis='columns')
merged

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

In [28]:
# Dropping the original town column , cuz we have it in the dummy variable.

final = merged.drop(['town'],axis='columns')
final

    area   price  monroe township  robinsville  west windsor
0   2600  550000                1            0             0
1   3000  565000                1            0             0
2   3200  610000                1            0             0
3   3600  680000                1            0             0
4   4000  725000                1            0             0
5   2600  585000                0            0             1
6   2800  615000                0            0             1
7   3300  650000                0            0             1
8   3600  710000                0            0             1
9   2600  575000                0            1             0
10  2900  600000                0            1             0
11  3100  620000                0            1             0
12  3600  695000                0            1             0

In the given code, the original 'town' column is being dropped after creating dummy variables using the` pd.get_dummies() `function and then concatenating them with the original DataFrame `df` using `pd.concat()` function.

The reason for dropping the original 'town' column is to avoid multicollinearity in the dataset. Multicollinearity occurs when two or more independent variables in a regression model are highly correlated with each other. In this case, if we keep the original 'town' column along with the dummy variables, it will create perfect multicollinearity as each dummy variable represents a specific town and all dummy variables together will contain the same information as the original 'town' column. This will lead to a problem known as the dummy variable trap, where the regression model will not be able to estimate the effect of each independent variable accurately, leading to incorrect and unstable results.

By dropping the original 'town' column after creating the dummy variables, we can avoid this problem and ensure that the model estimates the coefficients of each independent variable accurately. Therefore, the final DataFrame `final` will have the dummy variables as independent variables, and the original 'town' column is dropped.

In [29]:
final = merged.drop(['town', 'west windsor'], axis = 'columns')
final

    area   price  monroe township  robinsville
0   2600  550000                1            0
1   3000  565000                1            0
2   3200  610000                1            0
3   3600  680000                1            0
4   4000  725000                1            0
5   2600  585000                0            0
6   2800  615000                0            0
7   3300  650000                0            0
8   3600  710000                0            0
9   2600  575000                0            1
10  2900  600000                0            1
11  3100  620000                0            1
12  3600  695000                0            1

### Dummy Variable Trap

When you can derive one variable from other variables, they are known to be multi-colinear. Here if you know values of california and georgia then you can easily infer value of new jersey state, i.e. california=0 and georgia=0. There for these state variables are called to be multi-colinear. In this situation linear regression won't work as expected. Hence you need to drop one column.

**NOTE: sklearn library takes care of dummy variable trap hence even if you don't drop one of the state columns it is going to work, however we should make a habit of taking care of dummy variable trap ourselves just in case library that you are using is not handling this for you**

Multicollinearity is a phenomenon that occurs when two or more independent variables in a regression model are highly correlated with each other. In other words, multicollinearity is the presence of a strong linear relationship between two or more independent variables in a regression model.

Multicollinearity can lead to several problems in the regression analysis, including:

Unstable and unreliable coefficient estimates: In the presence of multicollinearity, the regression model may not be able to estimate the coefficients of each independent variable accurately, leading to incorrect and unstable results.

Difficulty in interpreting the regression model: Multicollinearity makes it difficult to interpret the effect of each independent variable on the dependent variable, as the effect of one independent variable cannot be separated from the effect of another independent variable.

Reduced statistical power: Multicollinearity reduces the statistical power of the regression model, making it difficult to detect the true effects of the independent variables on the dependent variable.

Therefore, it is important to detect and deal with multicollinearity in the regression analysis to ensure that the model estimates the coefficients of each independent variable accurately and produces reliable results.

In the given code, the final DataFrame is being modified again by dropping one of the dummy variable columns named 'west windsor' using the drop() function.

The reason for dropping one of the dummy variable columns is to avoid the dummy variable trap. The dummy variable trap occurs when we include all the dummy variable columns in the regression model, which can lead to a perfect multicollinearity issue.

In this case, dropping one of the dummy variable columns is equivalent to choosing a reference category, which is used as a baseline to compare the effects of the other categories. By dropping one of the dummy variable columns, we are treating it as the reference category, and the other dummy variable columns will represent the differences in the effect of each category compared to the reference category.

In other words, by dropping the 'west windsor' column, we are treating 'west windsor' as the reference category, and the coefficients of the remaining dummy variable columns will represent the differences in the effect of each town compared to 'west windsor'.

Therefore, dropping one of the dummy variable columns is necessary to avoid the dummy variable trap and ensure that the regression model estimates the coefficients of each independent variable accurately.

In the context of creating dummy variables, the reference category or baseline category is a category that is chosen as a reference point for comparison with the other categories.

When creating dummy variables, we convert a categorical variable with multiple categories into a set of binary variables that represent each category. For example, if we have a categorical variable 'Color' with three categories: Red, Green, and Blue, we can create three dummy variables: 'IsRed', 'IsGreen', and 'IsBlue', where each variable takes a value of 1 if the corresponding category is present and 0 otherwise.

However, when we include all three dummy variables in a regression model, it can lead to a perfect multicollinearity issue. To avoid this problem, we need to drop one of the dummy variables and use it as the reference category. The dropped variable represents the baseline category, and the other dummy variables represent the differences between each category and the reference category.

For example, if we drop the 'IsRed' dummy variable, it means that 'Red' is the reference category. The 'IsGreen' dummy variable represents the difference between 'Green' and 'Red', and the 'IsBlue' dummy variable represents the difference between 'Blue' and 'Red'. Therefore, the coefficients of the 'IsGreen' and 'IsBlue' variables in the regression model will tell us how much the outcome variable changes when the category changes from 'Red' to 'Green' or 'Blue', respectively.

Suppose we have a categorical variable "Color" that can take three values: Red, Green, and Blue, and we want to predict a continuous outcome variable "Price" based on this variable. To include the "Color" variable in a linear regression model, we can create two dummy variables representing the two non-reference categories (Green and Blue), as follows:

"IsGreen": takes a value of 1 if the color is Green and 0 otherwise.
"IsBlue": takes a value of 1 if the color is Blue and 0 otherwise.
We can drop the "IsRed" variable and use Red as the reference category. The coefficient estimates of the remaining two dummy variables in the regression model will tell us how the outcome variable "Price" changes when the color changes from Red to Green or Blue, respectively.

Suppose the regression model is as follows:

Price = β0 + β1 * IsGreen + β2 * IsBlue + ε

where β0 is the intercept term, β1 and β2 are the coefficients of the "IsGreen" and "IsBlue" dummy variables, respectively, and ε is the error term.

The coefficient β1 tells us the change in the mean "Price" when the color changes from Red to Green, while holding all other variables constant. Similarly, the coefficient β2 tells us the change in the mean "Price" when the color changes from Red to Blue.

For example, if β1 is 10, it means that the mean "Price" of Green color houses is `$10` higher than the mean "Price" of Red color houses, while holding all other variables constant. Similarly, if β2 is -5, it means that the mean "Price" of Blue color houses is `$5` lower than the mean "Price" of Red color houses, while holding all other variables constant.

Therefore, by using one of the categories as the reference category and creating dummy variables for the other categories, we can estimate the effects of the categorical variable on the outcome variable, while avoiding the dummy variable trap and multicollinearity issues.

In [30]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [31]:
# X = all the independent variables , as price was dependent so, we remove that column

X= final.drop('price', axis="columns")
X

    area  monroe township  robinsville
0   2600                1            0
1   3000                1            0
2   3200                1            0
3   3600                1            0
4   4000                1            0
5   2600                0            0
6   2800                0            0
7   3300                0            0
8   3600                0            0
9   2600                0            1
10  2900                0            1
11  3100                0            1
12  3600                0            1

In [32]:
# The dependent variable

Y= final.price
Y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [33]:
# Training my model on linear regression

model.fit(X,Y)

LinearRegression()

In [34]:
model.predict([[3200,0,1]])

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([641534.61621157])

In [35]:
model.predict([[3200,1,0]])

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([615848.20468716])

In [36]:
model.predict([[3200,0,0]])

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([655862.18017631])

In [37]:
model.score(X,Y)

0.9573929037221872

In [38]:
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [39]:
# label encoding on town column

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

`sklearn LabelEncoder` is a class in the scikit-learn library that is used to encode categorical variables into numerical values. It is a pre-processing step that is typically used when working with machine learning algorithms that require numeric inputs.

Label encoding is the process of transforming categorical data into numerical data, where each category is assigned a unique numerical value. For example, if you have a categorical variable "color" with the categories "red", "blue", and "green", label encoding would assign the values 0, 1, and 2 to these categories, respectively.

Label encoding and dummy variable encoding are similar, but not the same. Dummy variable encoding, also known as one-hot encoding, creates binary variables for each category of a categorical variable. For example, if we have a categorical variable "color" with the categories "red", "blue", and "green", dummy variable encoding would create three binary variables: "color_red", "color_blue", and "color_green", each taking on values of 0 or 1 depending on whether the observation falls into that category.

Label encoding and one-hot encoding are also different. One-hot encoding creates binary variables for each category of a categorical variable, while label encoding assigns unique numerical values to each category. One-hot encoding is generally preferred over label encoding because it does not impose an arbitrary ordinal relationship between categories. However, one-hot encoding can result in high-dimensional data, which can be problematic for some machine learning algorithms. In such cases, label encoding can be a more efficient choice.

In [40]:
dfle = df
dfle.town = le.fit_transform(dfle.town) # takes the column and return the label applying on that column
dfle # town categories converted into integer numbers

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [41]:
# X is training Data set , mainly independent variable,  (area, town)
X = dfle[['town', 'area']].values

In [42]:
# Y is dependent variable (price)
y = dfle.price
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [43]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# # define the column transformer to one-hot encode the first column
ct = ColumnTransformer([('town', OneHotEncoder(), [0])], remainder = 'passthrough')
ct

ColumnTransformer(remainder='passthrough',
                  transformers=[('town', OneHotEncoder(), [0])])

In this code, the ColumnTransformer is used to apply the one-hot encoding transformation only to the first column (column index 0). The remaining columns are passed through unchanged. The resulting X2 array should be the same as the output from your original code.

Note that the ColumnTransformer approach is more flexible than the deprecated categorical_features parameter, as it allows you to specify different transformations for different subsets of columns in your data.

In [44]:
X = ct.fit_transform(X)
X

array([[1.0e+00, 0.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.0e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.2e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.9e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.1e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.6e+03]])

In [45]:
X = X[:,1:] # dropping first var, to stop dummy var trap
X

array([[0.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 3.0e+03],
       [0.0e+00, 0.0e+00, 3.2e+03],
       [0.0e+00, 0.0e+00, 3.6e+03],
       [0.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 1.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 2.9e+03],
       [1.0e+00, 0.0e+00, 3.1e+03],
       [1.0e+00, 0.0e+00, 3.6e+03]])

In [46]:
model.fit(X,Y)

LinearRegression()

In [48]:
model.predict([[0,1,3200]]) # first both are town names done by sklearn hotencoder automatically
# thats why we are passing the 0 for robinsville, 1 for west windsor and monrow township is dropped

array([655862.18017631])

In [49]:
model.predict([[1,0,3200]]), model.predict([[0,0,3200]])

(array([641534.61621157]), array([615848.20468716]))

# ***Exercise:***

In [50]:
import pandas as pd
df = pd.read_csv('carprices.csv')
df

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

In [52]:
dummies = pd.get_dummies(df['Car Model'])
dummies

    Audi A5  BMW X5  Mercedez Benz C class
0         0       1                      0
1         0       1                      0
2         0       1                      0
3         0       1                      0
4         0       1                      0
5         1       0                      0
6         1       0                      0
7         1       0                      0
8         1       0                      0
9         0       0                      1
10        0       0                      1
11        0       0                      1
12        0       0                      1

In [53]:
merged = pd.concat([df,dummies], axis='columns')
merged

,Car Model,Mileage,Sell Price($),Age(yrs),Audi A5,BMW X5,Mercedez Benz C class
0,BMW X5,69000,18000,6,0,1,0
1,BMW X5,35000,34000,3,0,1,0
2,BMW X5,57000,26100,5,0,1,0
3,BMW X5,22500,40000,2,0,1,0
4,BMW X5,46000,31500,4,0,1,0
5,Audi A5,59000,29400,5,1,0,0
6,Audi A5,52000,32000,5,1,0,0
7,Audi A5,72000,19300,6,1,0,0
8,Audi A5,91000,12000,8,1,0,0
9,Mercedez Benz C class,67000,22000,6,0,0,1
10,Mercedez Benz C class,83000,20000,7,0,0,1
11,Mercedez Benz C class,79000,21000,7,0,0,1
12,Mercedez Benz C class,59000,33000,5,0,0,1

In [54]:
final = merged.drop(["Car Model", "Audi A5"], axis = "columns")
final

    Mileage  Sell Price($)  Age(yrs)  BMW X5  Mercedez Benz C class
0     69000          18000         6       1                      0
1     35000          34000         3       1                      0
2     57000          26100         5       1                      0
3     22500          40000         2       1                      0
4     46000          31500         4       1                      0
5     59000          29400         5       0                      0
6     52000          32000         5       0                      0
7     72000          19300         6       0                      0
8     91000          12000         8       0                      0
9     67000          22000         6       0                      1
10    83000          20000         7       0                      1
11    79000          21000         7       0                      1
12    59000          33000         5       0                      1

In [55]:
X = final.drop('Sell Price($)', axis = "columns")
X

    Mileage  Age(yrs)  BMW X5  Mercedez Benz C class
0     69000         6       1                      0
1     35000         3       1                      0
2     57000         5       1                      0
3     22500         2       1                      0
4     46000         4       1                      0
5     59000         5       0                      0
6     52000         5       0                      0
7     72000         6       0                      0
8     91000         8       0                      0
9     67000         6       0                      1
10    83000         7       0                      1
11    79000         7       0                      1
12    59000         5       0                      1

In [57]:
y = final['Sell Price($)']
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Sell Price($), dtype: int64

In [59]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [60]:
model.fit(X,y)

LinearRegression()

In [61]:
model.predict([[45000, 4, 0, 1]])

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([36991.31721061])

In [63]:
model.predict([[86000, 7, 1, 0]])

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([11080.74313219])

In [65]:
model.score(X,y)

0.9417050937281083